.App{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

button{
  width: 20vw;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  margin-right: 10px;
}

button:hover{
  cursor: pointer;
}

.timeZoneContainer{
  /* border: 2px solid green; */
  margin-top: 40px;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  justify-content: space-evenly;
}

.timeZoneContainer label{
  font-weight: 600;
}

.timeZoneContainer select{
  padding: 5px 0;
  border: 2px solid #33333320;
  padding-left: 1vw;
  width: 90%;
  color: gray;
  font-size: 16px;
  font-weight: bold;
}

h2{
  text-align: center;
}

.bodyContainer{
  display: grid;
  grid-template-columns: .2fr 1.8fr;
  /* border: 2px solid green; */
  padding-left: .5vw;
  min-height: 70px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px){
  .bodyContainer{
    grid-template-columns: 1.7fr;
  }
}
@media only screen and (max-width: 400px){
  button{
    width: 30vw;
    font-size: 14px;
  }
  h2{
    font-size: 17px;
  }
}

.dayData{
  /* border: 2px solid pink; */
  /* text-align: center; */
  background-color: #44444410;
  color: rgb(167, 29, 29);
  font-size: 20px;
  padding-top: 10px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.dayData h3{
  /* border: 2px solid yellow; */
  text-align: center;
}
.dayData p{
  /* border: 2px solid yellow; */
  text-align: center;
  transform: translateY(-50%);
}

.checkBoxes{
  padding-left: .8vw;
  padding-bottom: 20px;
  padding-top: 10px;
}